ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", RUN+="/home/CORP.INSTRUCTURE.COM/bhorrocks/development/github.com/defektive/super-dot-files/bin/sdf_monitors"
